services:
  booklore:
    build:
      # using the develop branch as it supports series in OPDS
      context: https://github.com/booklore-app/booklore.git#develop
      dockerfile: Dockerfile
      # image: booklore/booklore:develop
    container_name: booklore
    environment:
      - USER_ID=${PUID}
      - GROUP_ID=${PGID}
      - TZ=${TZ}
      - DATABASE_URL=${DATABASE_URL}
      - DATABASE_USERNAME=${DB_USER}
      - DATABASE_PASSWORD=${DB_PASSWORD}
      - BOOKLORE_PORT=${BOOKLORE_PORT}
    depends_on:
      mariadb:
        condition: service_healthy
    ports:
      - "${BOOKLORE_PORT}:${BOOKLORE_PORT}"
    volumes:
      - ${BKL_CONFIG}/data:/app/data
      - ${BOOK_LIBRARY}:/books
      - ${INGEST_FOLDER}:/bookdrop
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.booklore.rule=Host(`${BOOKLORE_HOSTNAME?}`)"
      - "traefik.http.routers.booklore.tls=true"
      - "traefik.http.services.booklore.loadbalancer.server.port=${BOOKLORE_PORT}"
      - "traefik.http.routers.booklore.tls.certresolver=letsencrypt"
    profiles:
      - required
      - all

  mariadb:
    image: lscr.io/linuxserver/mariadb:11.4.5
    container_name: mariadb
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    volumes:
      - ${BKL_CONFIG}/mariadb/config:/config
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "mariadb-admin", "ping", "-h", "localhost" ]
      interval: 5s
      timeout: 5s
      retries: 10

  ephemera:
    image: ghcr.io/orwellianepilogue/ephemera:latest
    container_name: ephemera
    restart: unless-stopped
    ports:
      - "8286:8286"
    environment:
      AA_BASE_URL: https://annas-archive.org
      FLARESOLVERR_URL: http://flaresolverr:8191
      LG_BASE_URL: #https://gen.com
      AA_API_KEY:
      PUID: ${PUID}
      PGID: ${PGID}
    volumes:
      - ${EPH_CONFIG}/data:/app/data
      - ${EPH_CONFIG}/downloads:/app/downloads
      - ${INGEST_FOLDER}:/app/ingest
    dns:
      - 1.1.1.1
      - 1.0.0.1

    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://127.0.0.1:8286/health",
        ]
