services:
  bookstack:
    build: .
    container_name: bookstack
    environment:
      - SHELFMARK_URL=${SHELFMARK_URL}
      - BOOKLORE_URL=${BOOKLORE_URL}
      - BOOKLORE_USER=${BOOKLORE_USER}
      - BOOKLORE_PASS=${BOOKLORE_PASS}
      - SMTP_SERVER=${SMTP_SERVER}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASS=${SMTP_PASS}
    ports:
      - "${BOOKSTACK_PORT}:5000"
    depends_on:
      - shelfmark
      - booklore
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bookstack.rule=Host(`${BOOKSTACK_HOSTNAME}`)"
      - "traefik.http.routers.bookstack.tls=true"
      - "traefik.http.services.bookstack.loadbalancer.server.port=5000"
      - "traefik.http.routers.bookstack.tls.certresolver=letsencrypt"
    profiles:
      - required
      - all

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${BOOKSTACK_INSTALL}/prowlarr/config:/config
    ports:
      - 9696:9696
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prowlarr.rule=Host(`${PROWLARR_HOSTNAME}`)"
      - "traefik.http.routers.prowlarr.tls=true"
      - "traefik.http.services.prowlarr.loadbalancer.server.port=${PROWLARR_PORT}"
      - "traefik.http.routers.prowlarr.tls.certresolver=letsencrypt"
    profiles:
      - required
      - all

  booklore:
    image: booklore/booklore:latest
    container_name: booklore
    environment:
      - USER_ID=${PUID}
      - GROUP_ID=${PGID}
      - TZ=${TZ}
      - DATABASE_URL=${DATABASE_URL}
      - DATABASE_USERNAME=${DB_USER}
      - DATABASE_PASSWORD=${DB_PASSWORD}
      - BOOKLORE_PORT=${BOOKLORE_PORT}
    depends_on:
      mariadb:
        condition: service_healthy
    ports:
      - "${BOOKLORE_PORT}:${BOOKLORE_PORT}"
    volumes:
      - ${BOOKSTACK_INSTALL}/booklore/data:/app/data
      - ${BOOK_LIBRARY}:/books
      - ${INGEST_FOLDER}:/bookdrop
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.booklore.rule=Host(`${BOOKLORE_HOSTNAME?}`)"
      - "traefik.http.routers.booklore.tls=true"
      - "traefik.http.services.booklore.loadbalancer.server.port=${BOOKLORE_PORT}"
      - "traefik.http.routers.booklore.tls.certresolver=letsencrypt"
    profiles:
      - required
      - all

  mariadb:
    image: lscr.io/linuxserver/mariadb:11.4.5
    container_name: mariadb
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    volumes:
      - ${BOOKSTACK_INSTALL}/mariadb/config:/config
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "mariadb-admin", "ping", "-h", "localhost" ]
      interval: 5s
      timeout: 5s
      retries: 10
  
  shelfmark:
    image: ghcr.io/calibrain/shelfmark:latest
    container_name: shelfmark
    environment:
      - FLASK_PORT=${SHELFMARK_PORT}
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    ports:
      - "${SHELFMARK_PORT}:${SHELFMARK_PORT}"
    restart: unless-stopped
    volumes:
      - ${INGEST_FOLDER}:/books
      - ${DOWNLOAD_FOLDER}:/downloads
      - ${BOOKSTACK_INSTALL}/shelfmark/config:/config
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.shelfmark.rule=Host(`${SHELFMARK_HOSTNAME}`)"
      - "traefik.http.routers.shelfmark.tls=true"
      - "traefik.http.services.shelfmark.loadbalancer.server.port=${SHELFMARK_PORT}"
      - "traefik.http.routers.shelfmark.tls.certresolver=letsencrypt"
    profiles:
      - required
      - all

